{{> head }}
{{> navbar }}
<div class="container mt-4">
  <div class="row">
    <div class="col-8">
      <h1>Me llamo {{name}}</h1>
      <h4><em>Y esta es mi historia 📚</em></h4>
      <hr>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus fugiat, at   est veritatis, autem reiciendis, voluptatum obcaecati neque quaerat  temporibus  voluptates quasi rem ab. Voluptate nesciunt assumenda deserunt  beatae eaque?</p>
    </div>
    <div class="col-4">
      <img src="assets/img/nodejs.jpg" alt="Node Developer"  class="img-thumbnail">
    </div>
  </div>
</div>
{{> footer }}