{{> head }}  
  {{> navbar }}  
  <div class="jumbotron">
    <h1 class="display-4">Hello, {{ capitalize 'jose robles'}} </h1>
    <p class="lead">
      Un pequeño proyecto trabajado con Express para el manejo de servicios
    </p>
    <hr class="my-4" />
    <p>
      Si quieren seguir aprendiendo pueden tomar el curso de Node de Fernando
      Herrera
    </p>
    <a
      class="btn btn-primary btn-lg"
      href="https://www.udemy.com/course/node-de-cero-a-experto/"
      role="button"
      target="_blank"
      >Más información</a
    >
  </div>
{{> footer }}
